<div layout="column" layout-fill layout-padding flex style="background:white;border-radius: 10px;">
	<div class="layout-column flex" style="background: #eaeaea;border-radius: 10px">
		<div style="min-height: 50px" class="layout-row">
			<div class="layout-row flex-xs-50 flex-gt-xs-45 flex-gt-sm-25 flex-25 layout-align-start-center">
				<span><img ng-src="Assets\documents_black.svg" style="height: 40px;padding: 0 8px"></span>
				<span class="view-header">Documents</span>
			</div>
			<div class="flex layout-column" style="background: white;margin-right: -8px;margin-top: -8px;">
				<div class="cutCorner"></div>
			</div>
			<div class="flex-80 layout-align-end-center layout-row" style="background: white;margin-left: 8px;margin-top: -8px;margin-right: -8px;">
				<span>
					<md-checkbox ng-model="selectedEmployee.isActive" ng-disabled="true" aria-label="selectedEmployee.isActive"  ng-click = "DocumentDetailsController.changeEmploymentStatus()" style = "margin-bottom: 0">
	            		<span style = "color: #626262 !important;">Employee Status:</span>&nbsp;<span ng-style="{ 'color' : selectedEmployee.isActive ? '#95af28' : '#383085' }">{{selectedEmployee.isActive?  'Active' : 'Inactive'}} &nbsp;&nbsp;&nbsp;</span>
	          		</md-checkbox>
				</span>
				<span style="color: #626262 !important"> 
						<span class="hide-sm hide-xs">Employee Name & ID:&nbsp;</span> 
						<span class="hide-xs" style="color: #626262 !important;font-weight: bold;" ng-show="selectedEmployee.employeeID>0">{{selectedEmployee.employeeName}}&nbsp;&nbsp;[&nbsp;{{selectedEmployee.employeeID}}&nbsp;]</span>
				</span>
			</div>
		</div>
		<div class="layout-column flex">
			<div class="layout-row" style="padding: 0 10px;" ng-show="selectedEmployee.isActive">
			
				<span class="layout-row layout-align-start-center new-button-screen" ng-click="DocumentDetailsController.uploadFileTemplate($event)"> 
					<i class="material-icons" style="font-size: 24px !important">file_upload</i>
					<span>Upload Documents</span> 
				</span>
			</div>
			<div flex style="background: white;border-radius:10px" class="layout-column flex">
					<div class="flex layout-column" style="padding: 0 16px;">
					  <form name="EducationalDetailsForm" class="flex layout-column">							
						<div class="flex layout-column">								
						 <md-table-container class="employees-table">
							<table md-table>
								<thead md-head>
									<tr md-row class= "borderBottom">
										<th md-column style="color: #95af28; font-size: 14px; padding-right: 10px">Document Name</th>
										<th md-column style="color: #95af28; font-size: 14px; padding-right: 10px">Created On</th>
										<th md-column style="color: #95af28; font-size: 14px; padding-right: 10px">Uploaded By</th>
												
										<th md-column style="color: #95af28; font-size: 14px; text-align : center; padding-right: 10px">Actions</th>
									</tr>					
								</thead>				
								<tbody md-body>					
									<tr md-row ng-repeat="data in DocumentDetailsController.Details">
										<td md-cell ng-click="DocumentDetailsController.dowloadfile(data)" style="width:550px;overflow:hidden"><img ng-src="Assets/{{::data.imageName}}" style="height:20px"> {{data.documentName}}<md-tooltip>{{data.documentName}}</md-tooltip></td>
										<td md-cell style = "padding-right : 10px">{{data.createdDate | date : 'dd MMM yyyy'}}<md-tooltip>{{data.createdDate | date : 'dd MMM yyyy'}}</md-tooltip></td>
										<td md-cell style = "padding-right : 10px;">{{data.employeeName }}<md-tooltip>{{data.employeeName}}</md-tooltip></td>
										
										
										<td md-cell style="min-width:50px !important;max-width: 50px !important;text-align : center">
										 <md-menu>							                      
							                     <i md-menu-origin class="material-icons" ng-click="$mdOpenMenu()" style = "cursor:pointer">storage</i>
							                     <md-menu-content width="2">
							                          <md-menu-item>
							                              <md-button ng-click = "DocumentDetailsController.dowloadfile(data)" style="display:inherit">
							                              	<i class= "material-icons">get_app</i>Download
							                              </md-button>
							                          </md-menu-item>
							                          <md-menu-item>
							                              <md-button ng-click = "DocumentDetailsController.deleteDocument(data)" style="display:inherit"><i class= "material-icons">delete</i>Delete</md-button>
							                          </md-menu-item>
							                      </md-menu-content>
							                  </md-menu>
											  
										</td>
									</tr>
								</tbody>
							</table>
						</md-table-container>
						
					<div flex layout= "row" layout-align="center center" style= "text-shadow: 1px 1px rgb(216, 216, 216)" ng-if = "DocumentDetailsController.Details.length == 0 || isSelectedNew == true">No details to show</div>
					</div>
					<div class="layout-row layout-align-end-center">
						<md-button class="merilytics-puple-button" ui-sref="Home.IndividualEmployee.SkillDetails">Back</md-button>	
						<md-button class="merilytics-puple-button" ui-sref="Home.IndividualEmployee.Interviews">Next</md-button>
					</div>
				</form>
				
			 </div>					
		 </div>
    		
    		 
    		
		  
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="UploadFileTemplate.html">
	<md-dialog style="height: auto; width: 60%;">
			<md-toolbar style="background:white;color:black" class="layout-row layout-align-space-between-center layout-padding">
				<div class="layout-row layout-align-start-center">Upload Files</div>
				<div>
					<md-button class="md-icon-button" ng-click="closeView()">
						<md-tooltip>Close</md-tooltip>
						<img ng-src="Assets\close.png" />
					</md-button>
				</div>
			</md-toolbar>
		<md-dialog-content>
			<div class="layout-column layout-align-center-center flex">

				<div class="layout-column layout-align-end-center" style="height:100px;min-width:65%;border:2px dashed #95AF28">

					<div >
						<form name="UploadForm">
							<input id="upload" type="file" ng-model="upload.selectedFile" name="selectedFile" required style="display:none"  base-sixty-four-input ng-change="uploadFileTypeCheck()"> 
							<md-button class="md-raised"  style="background-color:#95af28; color:white; margin-bottom: 30px;" ng-click="DocumentDetailsController.BrowseFile($event)">Browse</md-button>
						</form>
					</div>
				</div>
				<div>
					<span ng-if="UploadForm.upload.selectedFile.$error.required">File is required.</span>
					<span style="color:red" ng-if ="(upload.selectedFile.filesize > 2000000) && !disableuploadbutton">File size exceeds limit</span>
                    <span style="color:red" ng-if=(disableuploadbutton)>File type is not supported</span>
				</div>


				<div>{{upload.selectedFile.filename}}</div>
						
                      <div id="myProgress">
                   <div id="myBar">0%</div>
                    </div>
				
			</div>
    <md-card-actions layout="row" layout-align="end center" style="background: white">
	 <md-button class="md-raised" style="background-color:#95af28; color:white; margin-bottom: 40px;" ng-disabled="upload.selectedFile == null || upload.selectedFile.filesize>2000000 || disableuploadbutton" ng-click="DocumentDetailsController.uploadfile()">Upload</md-button>
	 <md-button class="md-raised" style="background-color:#95af28; color:white; margin-bottom: 40px;" ng-click="DocumentDetailsController.closeView()">Close</md-button>
    </md-card-actions>
		</md-dialog-content>
	</md-dialog>
</script>


<style>
	.merilytics-header{
		font-size: 16px !important
	}
	#myProgress {
 
  
 min-width: 65%;
  height: 35px;
 
 margin-top:35px;
  background: rgb(235,235,235);
}
#myBar {
    width: 0%;
    height: 35px;
    background-color: rgb(213,213,213);
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}
	.drop-box {
    
   
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

tr.borderBottom th{
	border-bottom : 1px solid black;
}
</style>

